@model IEnumerable<MarketingManagement.WEBUI.Models.CampaignDetails>

@{
    ViewData["Title"] = "GetCampaignAsgnToMe";
    Layout = "~/Views/ExecutiveHome/_Layout.cshtml";
}

<h1>Get Campaign Assign To Me</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampaignId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedOn)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
